<html>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="\style.css">
    <title>Charity Home</title>
</head>

<body>
    <div class="wrapper">


        <!----------------------------- Navbar ----------------------------------->


        <nav class="nav">
            <div class="nav-logo">
                <a href="#" class="link"><p>MEAL CONNECT</p></a>
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">DASHBOARD</button>
                <button class="btn" id="registerBtn" onclick="register()">HISTORY</button>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a data-modal-target="#modal" style="cursor: pointer;" class="link">View</a></li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <li><a class="link"><input type="submit" class="submit" value="Logout"></a></li>
                    </form>
                </ul>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>

        <!----------------------------- MODAL ----------------------------------->

        <div class="modal" id="modal">
            <div class="modal-header">
              <div class="title">Food Items Available</div>
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table" id="customers_table">
                    <section class="table__body">
                        <table>
                            <thead>
                                <tr>
                                    <th> Food Id <span class="icon-arrow"></span></th>
                                    <th> Category <span class="icon-arrow"></span></th>
                                    <th> Item <span class="icon-arrow"></span></th>
                                    <th> Quantity <span class="icon-arrow"></span></th>
                                    <th> Restaurant ID <span class="icon-arrow"></span></th>
                                    <th> Action <span class="icon-arrow"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% if (foodView && foodView.length) { %>
                                        <% foodView.forEach(food => { %>
                                            <tr>
                                                <td><%= food.foodid %></td>
                                                <td><%= food.cat %></td>
                                                <td><%= food.item %></td>
                                                <td><%= food.qty %></td>
                                                <td><%= food.restaurantid %></td>
                                                <td> 
                                                    <form action="/c/updateStatus/<%= id %>/<%= food.foodid %>" method="POST">
                                                        <button type="submit"><i class='bx bx-check'></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="5">No data available</td>
                                        </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <div id="overlay"></div>


        <!----------------------------- Home ----------------------------------->


        <div class="form-box">


            <!------------------- Dashboard -------------------------->


            <div class="login-container" id="login">
                <div class="top">
                    <span>Your Unique Charity ID : <%= id %> </span>
                    <header>Hi Charity <%= id %></header>
                    <div class="table" id="customers_table">
                        <section class="table__body">
                            <table>
                                <thead>
                                    <tr>
                                        <th> Food Id <span class="icon-arrow"></span></th>
                                        <th> Category <span class="icon-arrow"></span></th>
                                        <th> Item <span class="icon-arrow"></span></th>
                                        <th> Quantity <span class="icon-arrow"></span></th>
                                        <th> Status <span class="icon-arrow"></span></th>
                                    </tr>
                                </thead>
                                <tbody id="tablebod">
                                    <% if (foodData && foodData.length) { %>
                                        <% foodData.forEach(food => { %>
                                            <tr>
                                                <td><%= food.foodid %></td>
                                                <td><%= food.cat %></td>
                                                <td><%= food.item %></td>
                                                <td><%= food.qty %></td>
                                                <td><%= food.status %></td>
                                            </tr>
                                        <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="5">No data available</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>


            <!------------------- History -------------------------->
            

            <div class="register-container" id="register">
                <div class="table" id="customers_table">
                    <section>
                        <header>DISTRIBUTION HISTORY</header>                       
                    </section>
                    <section class="table__body">
                        <table>
                            <thead>
                                <tr>
                                    <th> Distribution Id <span class="icon-arrow"></span></th>
                                    <th> Restaurant Id <span class="icon-arrow"></span></th>
                                    <th> Food Id <span class="icon-arrow"></span></th>
                                    <th> Schedule ID <span class="icon-arrow"></span></th>
                                </tr>
                            </thead>
                            <tbody id="tablebodD">
                                <% if (DeliveredData && DeliveredData.length) { %>
                                    <% DeliveredData.forEach(food => { %>
                                        <tr>
                                            <td><%= food.distributionid %></td>
                                            <td><%= food.restaurantid %></td>
                                            <td><%= food.foodid %></td>
                                            <td><%= food.scheduleid %></td>
                                        </tr>
                                    <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="5">No data available</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>


    <script src="/script.js"></script>
    
</body>

</html>